* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; /* Alterado de 'none' para 'border-box' */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(./assets/background.svg);
  background-position: center;
  background-position-y: top;
  z-index: -2;

  & p {
    font-size: larger;
    margin-top: 45px;
    margin-bottom: -30px;
  }
}

.Diferencial,
.Contato {
  filter: drop-shadow(0 0 4px rgba(49, 173, 255, 0.4));
}

/* --- ESTILOS GERAIS PARA TELAS MAIORES (PADRÃO) --- */

.titulo-principal {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
  justify-content: flex-start;
  margin-left: 550px; /* Margem para desktop */
}

.content h1.title {
  font-weight: 650;
  font-size: 6rem;
  color: #ffffff;
  margin: 0;
  padding-right: 1rem;
  white-space: nowrap;
}

.content .desc {
  margin-top: 80px;
  transform: scale(1.3);
}

.typewriter-text {
  font-size: 6rem;
  font-weight: 650;
  color: #1778c7;
  min-width: 800px; /* Largura para desktop */
  text-align: left;
  position: relative;
}

.typewriter-text::after {
  content: "|";
  color: #fff;
  font-weight: 100;
  animation: flasher 0.7s infinite;
  margin-left: 5px;
}

ul {
  gap: 42px;
  padding: 0;
  margin: 0;
}

.btn-donate {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: hsla(194 100% 69% / 1);
  --btn-bg-2: hsla(217 100% 56% / 1);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.5em 0.7em;
  min-width: 100px;
  min-height: 48px;
  font-size: 17px;
  font-weight: 600;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  border-radius: var(--radii);
  color: #ffffff;
  box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5),
    0px 5px 5px -1px rgba(58, 125, 233, 0.25),
    inset 4px 4px 8px rgba(175, 230, 255, 0.5),
    inset -4px -4px 8px rgba(19, 95, 216, 0.35);
}

.header-list-item {
  font-size: 18px;
}

.btn-donate:hover {
  background-position: right top;
  transform: scale(1.05);
}

.btn-donate:is(:focus, :focus-visible, :active) {
  outline: none;
  box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
  .btn-donate {
    transition: ease;
  }
}

ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

ul a:hover {
  color: #ffffff;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.4));
  transform: scale(1.05);
}

.header {
  animation: appear 3s ease;
  height: 65px;
  border: 0.5px solid gray;
  background: rgba(128, 128, 128, 0.048);
  backdrop-filter: blur(5px);
  width: 490px;
  position: fixed;
  top: 0; /* Começa na parte superior da tela */
  left: 50%;
  transform: translate(-50%, 0); /* Ajuste: remove o -50% no Y */
  margin-top: 15px; /* Mantém a margem para posicionar abaixo do topo */
  border-radius: 6px;
  z-index: 1000; /* Garante que o header fique sobre outros elementos */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Adiciona transição para o efeito de aparecer/sumir */
}

.header-hidden {
  transform: translate(
    -50%,
    -100px
  ); /* Move o header para cima e para fora da tela */
  opacity: 0; /* Esconde completamente */
  pointer-events: none; /* Desabilita interações quando escondido */
}

.header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.links-contato {
  margin-top: 100px;
  display: flex; /* Define como flex container */
  flex-direction: row; /* Coloca os links-1 e links-2 lado a lado */
  gap: 50px; /* Espaço entre as colunas de links */
  color: #fff; /* Cor do texto padrão para este bloco */
  /* Centraliza o próprio container de links-contato se ele não ocupar 100% da largura do content */
  justify-content: center;
  align-items: center; /* Centraliza verticalmente se houver diferença de altura */
  flex-wrap: wrap; /* Permite que os blocos de link quebrem para a próxima linha em telas pequenas */
  max-width: 900px; /* Limita a largura máxima para desktop para não esticar demais */
  width: 100%; /* Ocupa toda a largura disponível no content */
}

.links-1 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: larger;
}

.links-2 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: larger;
  margin-left: auto;
}

.links-contato a {
  justify-content: center;
  display: flex; /* Essencial: Torna cada link um flex container */
  align-items: center; /* Centraliza verticalmente o ícone e o texto */
  gap: 10px; /* Espaço entre o ícone e o texto */
  color: #ffffff; /* Garante que os links de contato sejam brancos */
  /* Remove estilos padrao do navegador para links */
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.links-contato a:visited,
.links-contato a:active {
  color: #ffffff; /* Mantém branco após visitado/ativo */
}

.links-contato a:hover {
  color: #eeeeee; /* Um leve efeito hover */
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.2));
  transform: scale(1.03);
}

/* Estilos para os ícones Lucide, se precisar de ajuste fino */
.links-contato a svg {
  vertical-align: middle; /* Ajuda a alinhar o ícone com o texto */
  flex-shrink: 0; /* Impede que o ícone diminua em telas menores */
}

/* --- SEÇÃO .content (Primeira Seção) --- */
.content {
  animation: appear 3s ease; /* Esta animação está apenas no .content */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content .desc {
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  max-width: 600px;
}

/* --- SEÇÃO .content-2 --- */

.scroll-infinit {
  animation: apear 10s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 300px;
  margin-top: 100px;
  margin-bottom: 80px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollleft {
  to {
    left: -600px;
  }
}

.content-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 775px;
  gap: 50px;
  z-index: 999;
}

.react-3d {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width: 70px;
  height: 70px;
  position: absolute;
  z-index: 10;
  animation: autoShow both;
  animation-timeline: view(auto 35%);
  border-radius: 12px;
  border: 0.5px solid gray;
  background: rgba(128, 128, 128, 0.05);
  backdrop-filter: blur(5px);
  filter: drop-shadow(0 0 15px rgba(0, 153, 255, 0.7));
  transition: all 0.4s ease;
}

.javas-3d {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width: 90px;
  height: 90px;
  position: absolute;
  z-index: 10;
  animation: autoShow-2 both;
  animation-timeline: view(auto 15%);
  border-radius: 12px;
  border: 0.5px solid gray;
  background: rgba(128, 128, 128, 0.05);
  backdrop-filter: blur(5px);
  filter: drop-shadow(0 0 15px rgba(251, 255, 0, 0.45));
  transition: all 0.4s ease;
}

.html-3d {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 10;
  animation: autoShow-3 both;
  animation-timeline: view(auto 15%);
  border-radius: 12px;
  border: 0.5px solid gray;
  background: rgba(128, 128, 128, 0.05);
  backdrop-filter: blur(5px);
  filter: drop-shadow(0 0 13px rgba(255, 115, 0, 0.7));
  transition: all 0.4s ease;
  perspective: 1000px;
}

.css-3d {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width: 92px;
  height: 92px;
  position: absolute;
  z-index: 10;
  animation: autoShow-4 both;
  animation-timeline: view(auto 15%);
  border-radius: 12px;
  border: 0.5px solid gray;
  background: rgba(128, 128, 128, 0.05);
  backdrop-filter: blur(5px);
  filter: drop-shadow(0 0 15px rgba(4, 0, 255, 0.9));
  transition: all 0.4s ease;
}

.react-3d:hover {
  transform: scale(1.4);
}

.css-3d:hover {
  transform: scale(1.4);
}

.react-3d-cll,
.javas-3d-cll,
.html-3d-cll,
.css-3d-cll {
  display: none;
  opacity: 0;
}

.flair {
  opacity: 0.3;
  animation: scale both;
  animation-timeline: view(50% 20%);
  filter: blur(35px);
  margin-top: 138px;
  position: absolute;
  width: 600px;
  height: 80px;
  background: #005091;
  background: radial-gradient(
    circle,
    rgba(0, 80, 145, 1) 0%,
    rgba(122, 195, 255, 1) 15%,
    rgba(255, 255, 255, 0.31) 44%,
    rgba(0, 0, 0, 0) 88%
  );
  border-radius: 80%;
  z-index: 1;
}

.grid-cards {
  display: flex;
  gap: 50px;
  margin-top: -30px;
}

.item {
  border: 0.5px solid gray;
  background: rgba(128, 128, 128, 0.2);
  border-radius: 15px;
  width: 384px;
  height: 216px;
  position: absolute;
  left: calc(300px * 5);
  animation-name: scrollleft;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  cursor: default;
  transition: all 0.4s ease;
  overflow: visible;
  opacity: 1;
  cursor: pointer;
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.35));
}

.item1 {
  animation-delay: calc(60s / 6 * (6 - 1) * -1);
  background-image: url("./assets/sites-img/site1.svg");
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  backdrop-filter: blur(15px);
  color: #eeeeee;
  justify-content: center;
  display: flex;
  align-items: flex-end;
}

.item2 {
  animation-delay: calc(60s / 6 * (6 - 2) * -1);
  background-image: url("./assets/sites-img/site2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(15px);
}

.item3 {
  animation-delay: calc(60s / 6 * (6 - 3) * -1);
  background-image: url("./assets/sites-img/site3.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(15px);
}

.item4 {
  animation-delay: calc(60s / 6 * (6 - 4) * -1);
  background-image: url("./assets/sites-img/site4.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.item5 {
  animation-delay: calc(60s / 6 * (6 - 5) * -1);
  background-image: url("./assets/sites-img/site5.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.item:hover {
  transform: scale(1.015);
  filter: drop-shadow(0 0 3px rgba(40, 158, 255, 0.3));
}

.content-2 h1 {
  font-size: 7rem;
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 140px;
  z-index: 999;
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.9));
}

.content-2 p {
  font-size: 1.1rem;
  color: #1778c7;
  filter: drop-shadow(0 0 3px rgba(40, 158, 255, 0.658));
  margin-top: 75px;
  margin-bottom: -70px;
  z-index: 999;
}

.content-2 .desc {
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  max-width: 600px;
}

/* --- SEÇÃO .content-3 --- */
.content-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -100px;
}

.content-3 h2 {
  font-size: 1rem;
  color: #ffffff;
  transform: translate(0px, -190px);
  font-weight: normal;
  font-size: 1.1rem;
  color: #1778c7;
  filter: drop-shadow(0 0 3px rgba(40, 158, 255, 0.658));
}

.content-3 h1 {
  font-size: 6rem;
  color: #ffffff;
  margin-bottom: 25px;
}

.flair-2 {
  opacity: 0.3;
  animation: scale both;
  animation-timeline: view(50% 20%);
  filter: blur(35px);
  margin-top: -220px;
  position: absolute;
  width: 600px;
  height: 80px;
  background: #005091;
  background: radial-gradient(
    circle,
    rgba(0, 80, 145, 1) 0%,
    rgba(122, 195, 255, 1) 15%,
    rgba(255, 255, 255, 0.31) 44%,
    rgba(0, 0, 0, 0) 88%
  );
  border-radius: 80%;
  z-index: 1;
}

.cards-ling {
  gap: 50px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.cards-ling :nth-child(2) {
  transition-delay: 200ms;
}

.cards-ling :nth-child(3) {
  transition-delay: 400ms;
}

.cards-ling :nth-child(4) {
  transition-delay: 600ms;
}

.cards-ling :nth-child(5) {
  transition-delay: 800ms;
}

.cards-ling :nth-child(6) {
  transition-delay: 1000ms;
}

.content-java {
  padding: 10px;
  border: 1px solid gray;
  /*background: #ffffff;
  background: linear-gradient(
    43deg,
    rgba(255, 255, 255, 0.01) 0%,
    rgba(128, 128, 128, 0.01) 78%
  );*/
  backdrop-filter: blur(5px);
  width: 250px;
  height: 190px;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  color: #eeeeee;
  border-radius: 10px;
  font-size: 13px;
  cursor: default;
  transition: all 0.3s ease-in-out;
}

.img-ling {
  margin: 40px;
  transform: translateX(-38px);
}

.desc-ling {
  font-weight: 400;
}

.title-ling {
  transform: translateY(-75px);
  font-weight: 650;
}

.title-ling-html {
  font-weight: 650;
  transform: translate(7px, -75px);
}

.title-ling-css {
  font-weight: 650;
  transform: translate(14px, -75px);
}

.title-ling-react {
  font-weight: 650;
  transform: translate(7px, -75px);
}

.hidden {
  opacity: 0;
  filter: blur(35px);
  transform: scale(0);
  transition: all 1.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition: all 1.5s;
}

/* --- SEÇÃO .content-4 --- */
.content-4 {
  /* Este background está apenas no .content-4 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content-4 h1 {
  font-size: 5.5rem;
  color: #ffffff;
  margin-bottom: 20px; /* Note: Este tinha 20px de margin-bottom no original */
}

.content-4 .desc {
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  max-width: 600px;
}

.hamburger-button {
  display: none;
}

/* --- MEDIA QUERY PARA TELAS MENORES (CELULAR - max-width: 750px) --- */
@media (max-width: 750px) {
  /* BODY & CONTAINER */
  body {
    font-size: 14px;
  }

  /* HEADER */
  .header {
    width: 90%;
    max-width: 230px;
    margin-top: 12px;
  }

  .hamburger-button {
    background: transparent;
    border: 1px solid gray;
    padding: 8px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .hamburger-button:hover {
    transform: scale(1.05);
  }

  .header-list {
    justify-content: center;
  }

  .header-list-item:not(:has(.btn-donate)) {
    display: none;
  }

  /* TITULO PRINCIPAL */
  .titulo-principal {
    flex-direction: column;
    margin-left: 0;
    padding: 0px;
  }

  .content {
    gap: 20px;
  }

  .flair {
    margin-top: 95px;
  }

  .content h1.title,
  .typewriter-text {
    font-size: 3rem;
    padding-right: 0;
    white-space: normal;
    min-width: unset;
    text-align: center;
    margin: 0;
    line-height: 1.2;
  }

  .react-3d,
  .javas-3d,
  .html-3d,
  .css-3d {
    display: none;
    opacity: 0;
  }

  .titulo-principal {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .content h1.title {
    padding-right: 0.5rem;
    white-space: nowrap;
  }
  /* CONTEÚDOS GERAIS (content, content-2, etc.) */
  .content .desc,
  .content-2 .desc,
  .content-3 .desc,
  .content-4 .desc {
    font-size: 1rem;
    padding: 0 15px;
    max-width: 70%;
  }

  .content-2 h1 {
    margin-bottom: 150px;
  }

  .content-2 h1,
  .content-3 h1,
  .content-4 h1 {
    font-size: 3rem;
    text-align: center;
    padding: 0 15px;
  }

  .links-2 {
    margin-top: -2px;
    margin-right: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .react-3d-cll {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 10;
    animation: autoShow-5 both;
    animation-timeline: view(auto 35%);
    border-radius: 20px;
    border: 0.5px solid gray;
    background: rgba(128, 128, 128, 0.05);
    backdrop-filter: blur(5px);
    filter: drop-shadow(0 0 13px rgba(0, 153, 255, 0.7));
  }

  .javas-3d-cll {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 10;
    animation: autoShow-6 both;
    animation-timeline: view(auto 15%);
    border-radius: 20px;
    border: 0.5px solid gray;
    background: rgba(128, 128, 128, 0.05);
    backdrop-filter: blur(5px);
    filter: drop-shadow(0 0 13px rgba(251, 255, 0, 0.5));
  }

  .html-3d-cll {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 10;
    animation: autoShow-7 both;
    animation-timeline: view(auto 15%);
    border-radius: 20px;
    border: 0.5px solid gray;
    background: rgba(128, 128, 128, 0.05);
    backdrop-filter: blur(5px);
    filter: drop-shadow(0 0 13px rgba(255, 115, 0, 0.7));
  }

  .css-3d-cll {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 10;
    animation: autoShow-8 both;
    animation-timeline: view(auto 15%);
    border-radius: 20px;
    border: 0.5px solid gray;
    background: rgba(128, 128, 128, 0.05);
    backdrop-filter: blur(5px);
    filter: drop-shadow(0 0 13px rgba(4, 0, 255, 0.7));
  }

  .content-3 {
    margin-top: 250px;
  }

  .cards-ling {
    gap: 50px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
